<h2 mat-dialog-title>Restaurant Register</h2>
<mat-dialog-content class="mat-typography">
  <form autocomplete="off" novalidate #form="ngForm">
    <table class="max-lenght" cellspacing="15">
      <tr>
        <td>
          <mat-form-field appearance="outline" class="max-lenght">
            <mat-label>Name of the Restaurant</mat-label>
            <input
              matInput
              type="search"
              name="userName"
              #userName="ngModel"
              [(ngModel)]="serviceRestaurant.formDataRestaurant.userName"
              required
              autocomplete="off"
              cdkFocusInitial 
              placeholder="Name of the Restaurant"
            />
            <mat-error *ngIf="userName.invalid">{{
              getErrorMessage(userName)
            }}</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="max-lenght">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              type="search"
              name="phoneNumber"
              #phoneNumber="ngModel"
              [(ngModel)]="serviceRestaurant.formDataRestaurant.phoneNumber"
              maxlength="15"
              minlength="15"
              placeholder="(__) _____-____"
              autocomplete="off"
              onkeyup="
            var phoneNumber = this.value;
            if (phoneNumber.match(/^[A-Z]|[a-z]$/) !== null){
              this.value = '';
            }"
              onkeydown="
              var phoneNumber = this.value;
              if (window.event.keyCode == 8) { }
              else if (phoneNumber.match(/^[A-Z]|[a-z]$/) !== null){
                this.value = ' ';
              }
              else if (phoneNumber.match(/^\d$/) !== null){
                this.value = '(' + phoneNumber;
              }
              else if (phoneNumber.match(/^\(\d{2}$/) !== null){
                this.value = phoneNumber + ') ';
              }
              else if (phoneNumber.match(/^\(\d{2}\) \d{5}$/) !== null) {
                this.value = phoneNumber + '-';
              }"
            />
            <mat-error *ngIf="phoneNumber.invalid">{{
              getErrorMessage(phoneNumber)
            }}</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="max-lenght">
            <mat-label>CNPJ</mat-label>
            <input
              matInput
              type="search"
              name="cnpj"
              #cnpj="ngModel"
              [(ngModel)]="serviceRestaurant.formDataRestaurant.cnpj"
              required
              minlength="14"
              maxlength="14"
              placeholder="___.___.___-__"
              autocomplete="off"
              onkeyup="
              var cnpj = this.value;
              if (cnpj.match(/^[A-Z]|[a-z]$/) !== null){
                  this.value = '';
              }"
              onkeydown="
              var cnpj = this.value;
              if (window.event.keyCode == 8) { }
              else if (cnpj.match(/^\d{3}$/) !== null){
                  this.value = cnpj + '.';
              }
              else if (cnpj.match(/^\d{3}\.\d{3}$/) !== null){
                  this.value = cnpj + '.';
              }
              else if (cnpj.match(/^\d{3}\.\d{3}\.\d{3}$/) !== null) {
                  this.value = cnpj + '-';
              }"
            />
            <mat-error *ngIf="cnpj.invalid">{{
              getErrorMessage(cnpj)
            }}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="max-lenght" cellspacing="15">
      <tr>
        <td>
          <mat-form-field appearance="outline" class="max-lenght">
            <mat-label>Address</mat-label>
            <input
              matInput
              type="search"
              name="address"
              placeholder="Example: Rua Aurora, 57"
              #address="ngModel"
              [(ngModel)]="serviceRestaurant.formDataRestaurant.address"
              autocomplete="off"
            />
            <mat-error *ngIf="address.invalid">{{
              getErrorMessage(address)
            }}</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="max-lenght">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="search"
              name="email"
              placeholder="Example: beautifulemail@gmail.com"
              #email="ngModel"
              [(ngModel)]="serviceRestaurant.formDataRestaurant.email"
              required
              autocomplete="off"
            />
            <mat-error *ngIf="email.invalid">{{
              getErrorMessage(email)
            }}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="max-lenght" cellspacing="15">
      <tr>
        <td>
          <mat-form-field appearance="outline" class="max-lenght">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="search"
              name="password"
              placeholder="Your Password"
              #password="ngModel"
              [(ngModel)]="serviceRestaurant.formDataRestaurant.password"
              required
              autocomplete="off"
            />
            <mat-error *ngIf="password.invalid">{{
              getErrorMessage(password)
            }}</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="max-lenght">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              type="search"
              name="confirmPassword"
              placeholder="Your confirmPassword"
              #confirmPassword="ngModel"
              [(ngModel)]="serviceRestaurant.confirmPassword"
              required
              autocomplete="off"
            />
            <mat-error *ngIf="confirmPassword.invalid">{{
              getErrorMessage(confirmPassword)
            }}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="form-button" #cancelButton>Cancel</button>
    <button 
    mat-button 
    [mat-dialog-close]="true" 
    cdkFocusInitial 
    class="form-button"
    [disabled]="form.invalid"
    (click)="onSubmit(form)"
    >
    Submit
  </button>
</mat-dialog-actions>
