.app-name {
  margin-left: 3%;
  border-radius: 10px;
  border: 2px solid white;
  padding-right: 10px;
  padding-left: 10px;
}

.app-name:hover{
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: crimson;
  color: #fcfcfc;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
}

.menu-button {
  margin-top: 10px;
  margin-bottom: 0px;
  color: black;
  background-color: white;
}

.menu-button:hover {
  background-color: #ffffff80;
}

.toolbar {
  background-color: crimson;
  height: 80px;
}

.btn.btn-register {
  margin-left: 60%;
}

.btn.btn-login {
  margin-left: 30px;
}

.btn {
  color: #e54e43;
  background: #fff;
  font-size: 1.2rem;
  border-color: red;
}

.btn:hover {
  color: #fcfcfc;
  background-color: rgb(235, 57, 93);
  border: 1px solid #fcfcfc !important;
}

.register-menu-button {
  color: #e54e43;
  font-size: 1.1rem;
}

.register-menu-button:hover {
  color: #fcfcfc !important;
  background-color: rgb(235, 57, 93);
}

.userName {
  margin-left: 73%;
  color: black;
  border-radius: 10px;
  border: 2px solid #000;
  padding-right: 6px;
  padding-left: 10px;
  text-align: center;
  font-size: 1.2rem;
  background-color: transparent;
}

.userName:hover {
  color: white;
}

.mini-fab {
  background-color: white;
  color: #000;
}

.mini-fab:active {
  background-color: #e54e43;
}

.register-menu-button.user-menu {
  background-color: crimson !important;
  height: 64px;
  color: black;
}

@media only screen and (min-width: 1800px) {
  .btn.btn-register {
    margin-left: 69% !important;
  }
}

.content {
  overflow: auto;
}