
<div class = "boss"> 
  <div class ="container">
    <mat-card class ="teste" (click)="RedirecionarRestaurante(item)" *ngFor="let item of service.RestaurantList" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item.userName}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class = "text">
        <p>
          {{item.email}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
  