<div class="layout">
    <div class="banner">
        <div class="icon-photo">
        </div>
    </div>
    <div class="plates-layout">
        <h3 class="header">Marmitas</h3>
        <div class="marmita-content">
            <div class="plate-img">
                <img class="img" src="../../assets/como-tirar-foto-de-cachorro.jpg" alt="">
            </div>
            <div class="marmita-data">
                <span class="nome-marmita">Nome da Marmita</span>
                <span class="preco-marmita">Preço</span>
                <div class="descricao-marmita">
                    
                </div>
            </div>
            <div class="buttons">

            </div>
        </div>
    </div>
</div>