@media only screen and (min-width: 1900px) {
    .icon-photo {
        margin: 10% !important;
    }
    .plates-layout {
        height: 60% !important;
    }
}

.banner {
    background-color: gray;
    border: 2px solid black;
    width: 15%;
    height: 100%;
    border-radius: 25px;
    margin: 15px;
    align-self: flex-start;
}

  

.layout {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
}

.example-container {
    position: relative;
    width: 100%;
    border-radius: 30px;
    border: 3px solid black;
    overflow: hidden;
    background-color: #424242;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.tr-body:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.tr-body:not(.expanded-row):active {
  background: #efefef;
}

.tr-body td {
  border-bottom-width: 0;
}

.plate-description {
  padding: 16px
}

.plate-detail {
  overflow: hidden;
  display: flex;
}

th {
  font-size: 1.3rem;
  max-height: 100px !important;
  min-height: 100px !important;
  height: 70px;
}

tr.tr-body:hover {
  background-color: #13131310 !important;
  cursor: pointer;
}

.plates-table {
    width: 30% !important;
    height: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}

.add-button {
  background-color: #3f51b5;
  height: 40px;
  width: 40px;
}

.add-order-button {
  background-color: #008000;
  height: 35px;
  width: 35px;
}

.add-order-button:hover {
  background-color: #00800090;
}

.add-button:hover {
  background-color: #3f51b590;
}

.add-icon {
  color: whitesmoke;
  padding-top: 0px !important;
  position: absolute;
  right: 8px;
  bottom: 7px;
}

.add-order-icon {
  color: whitesmoke;
  padding-top: 0px !important;
  position: absolute;
  right: 6px;
  bottom: 5px;
  
  
}
.text{
  position: relative;left: 350%;
}


.delete-button:hover {
  color: white;
}

.container {
  margin-left: 250px;
  margin-top: 30px;
  width: 35%;
}
.formRestaurant{
position: relative;top: 100px;
width: 120;
bottom: unset;
}
.example-full-width
{
  font-size: 120%;
  width: 80%;
}

.formUser{
  font-size: 40px;
}
.teste{
  height: 80% !important;
  background: crimson;
  text-overflow: ellipsis;
  text-align: left;
  word-break: break-word;
  overflow: hidden;
  border-radius: 50px;
}
